*
{
    margin: 0;
    padding: 0;
}
html
{
    scroll-behavior: smooth;
}
header
{
    position: absolute;
    right: 3vw;
    top: 5vh;
    width: 25vw;
}
.menu
{
    color: #cacaca;
    font-size: 0.85em;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;

    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.menu li
{
    width: 5vw;
    text-align: center;
}
.main-page
{
    height: 100vh;
    background: url("../resources/img/restaurant.png") no-repeat;
    background-size: cover;
}
.main-logo
{
    width: 50%;
    height: 100vh;

    position: absolute;
    background: url("../resources/img/logo-fellas.png") no-repeat -5vw;
    background-size: contain;

}
.main-text
{
    position: absolute;
    width: 50%;
    height: 100vh;
    right: 0;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.header-italian
{
    font-family: 'Montserrat', sans-serif;
    font-size: 3em;
    font-weight: bold;
    color: #cacaca;
    margin-bottom: -0.2em;
}
.header-american
{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5em;
    color: #e29a1a;
    margin-bottom: 0.5em;
}
.greeting
{
    font-size: 1.1em;
    text-align: center;
    width: 60%;
    color: #cacaca;
    margin-bottom: 2em;
}
.greeting span
{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: #e29a1a;
}
.scroll
{
    cursor: pointer;
    padding: 1em 2em;
    height: 3.5em;
    border-radius: 1.75em;
    font-size: 1em;
    background: #d6911a;
    outline: none;
    border: none;
    color: #f0f0f0;
    transition: 0.2s ease-out;
    text-decoration: none;
    font-family: sans-serif;

    font-weight: bold;
}
.scroll-slice
{
    font-size: 1.3em;
}
.scroll:hover
{
    background: #f0f0f0;
    color: #29303a;
    padding: 1em 2.5em;
}
/* Pizza menu styles */

/* Controls section styles */
.pizza-preview
{
    min-height: 100vh;
    background: /* #cacaca */ #29303a;
    box-sizing: border-box;
}
.preview-wrap
{
    box-sizing: border-box;
    width: 90%;
    margin: 0 auto;
    padding: 5vh 0;
}
.controls
{
    height: 7vh;
    margin-bottom: 7vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.stock-format
{
    width: 15vw;
    display: flex;
    flex-direction: row;
}
.control-button
{
    height: 50px;
    width: 50px;
    margin:0 0.5vw;
    background: #f0f0f0;
    color: #29303a;
    border-radius: 50%;
    font-size: 1.5em;
    cursor: pointer;

    transition: 0.2s ease-out;

    display: flex;
    align-items: center;
    justify-content: center;
}
.active
{
    background: #e29a1a;
    color: #f0f0f0;
    pointer-events: none;
}
.control-button:hover
{
    background: #29303a;
    color: #e29a1a;
}
.responsive-image
{
    max-width: 15vw;
    height: auto;
}
.misc-controls
{
    width: 15vw;
    text-align: center;
}
select {
    cursor: pointer;
    width: 15vw;
    padding: 5px 35px 5px 5px;
    font-size: 1em;
    border: none;
    border-bottom: 2px solid #f0f0f0;
    background: none;
    color: #f0f0f0;
    font-weight: bold;
    height: 35px;
    outline: none;
}
option
{
    color: #29303a;
}

.search
{
    height: 35px;
    font-size: 1em;
    padding: 5px 35px 5px 5px;
    width: 10vw;
    border: none;
    border-bottom: 2px solid #f0f0f0;
    background: none;
    color: #f0f0f0;
    outline: none;
}
.search::placeholder
{
    color: #f0f0f0;
}
.fa-search
{
    color: #f0f0f0;
    font-size: 1.1em;
    position: relative;
    top: 0.5vh;

}
.search-submit
{
    cursor: pointer;
    background: none;
    outline: none;
    border: none;
}
.search-submit:hover
{
    filter: brightness(80%);
}
/* Pizza cards */
.stock-grid
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.card
{
    width: 25%;
    height: 50vh;
    min-width: 300px;
    min-height: 500px;
    background: #f0f0f0;
    color: #29303a;
    margin: 1em;
    box-shadow: 7px 7px 10px #0f1219;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.card-photo
{
    height: 40%;
    background: url("../resources/img/pizza/hunter.png");
    background-size: cover;
    margin-bottom: 0.5em;
}
.card-header
{
    font-size: 1.35em;
    font-family: Roboto, sans-serif;
    padding-left: 0.3em;
}
.card-hr
{
    width: 90%;
    margin: 0.3em auto;
    background: #29303a;
    border: none;
    height: 0.1em;
}
.card-ingredients
{
    padding:0.3em 1em 0;
    text-align: justify;
    position: relative;
    height: 40%;
    max-height: 130px;
    overflow: hidden;
    font-family: 'Merriweather', serif;
    font-size: 0.85em;
}
.card-ingredients:after {
    content  : "";
    position : absolute;
    z-index  : 1;
    bottom   : 0;
    left     : 0;
    pointer-events   : none;
    background-image : linear-gradient(to bottom,
    rgba(240,240,240, 0),
    rgba(240,240,240, 1) 90%);
    width    : 100%;
    height   : 4em;
}
.card-info
{
    padding: 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: Roboto, sans-serif;
}
.price, .calories
{
    width: 45%;
    text-align: center;
    font-size: 1.2em;
}
.small
{
    font-size: 0.6em;
}
.card-button-wrap
{
    height: auto;
    min-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pizza-button
{
    cursor: pointer;
    padding: 0.5em 1em;
    width: 10em;
    height: 3em;
    margin: 0 1em;

    font-weight: bold;
    color: #f0f0f0;
    background: #29303a;
    border-radius: 5em;
    border: none;
    transition: 0.2s ease-out;
}
.cart-button
{
    background: #e1a82b;
    color: #29303a;
}
.pizza-button:hover
{
    border: 2px solid #29303a;
    background: #f0f0f0;
    color: #29303a;
}


.list-item
{

    width: 60vw;
    padding: 0 2em;
    margin: 1em auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    font-family: Roboto, sans-serif;
    color: #f0f0f0;
    font-size: 1.3em;
    background: #222832;
    border-bottom: 0.1em solid #131623;
    border-top: 0.1em solid #131623;
}
.list-icon, .list-dollar
{
    color: #e29a1a;
}
.list-price
{
    width: 30%;
    text-align: center;
}
.list-name
{
    justify-self: flex-start;
    width: 30%;
}
.list-details
{
    cursor: pointer;
    height: 40px;
    margin-right: 0.7em;
    width: 40px;
    border-radius: 50%;
    background: #f0f0f0;
    font-size: 1em;
    border: none;
    transition: 0.2s ease-out;
}
.list-buttons
{
    width: 30%;
    text-align: right;
}
.list-cart
{
    transition: 0.2s ease-out;
    cursor: pointer;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background: #e29a1a;
    color: #f0f0f0;
    font-size: 1em;
    border: none;
}
.list-details:hover, .list-cart:hover
{
    background: #29303a;
    color: #e29a1a;
}

@font-face {
    font-face-name: Vegan;
    src: url("../resources/fonts/vegan.ttf");
}